*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

/*Deixa a imagem de fundo com transparência*/
body:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url(./images/pelada.jpeg);
    background-repeat: repeat;
    background-position: 50% 0;
    background-size: 350px;
}

header{
    position: relative;
    z-index: 3;
    text-align: center;
    padding: 50px 10px 10px 10px;
    margin-left: 20px;
    text-decoration: underline;
}

h1{
    font-size: 30px;
}

.form{
    position: relative;
    z-index: 3;
    padding: 20px 30px;
    width: 50%;
    display: table;
    /*Para centralizar o formulário*/
    margin: 0 auto;
    box-shadow: 0 4px 8px #999;
}

input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    font: 1em sans-serif;
    border: 2px solid #999;
    opacity: 0.3;
    color:black
}

textarea{
    height: 100px;
}



label{
    font-weight: bold;
    padding-bottom: 5px;
    display: inline-block;
}

button{
    background: white;
    border: 1px solid rgb(21, 4, 98);
    color:rgb(21, 4, 98);
    font-weight: bold;
    padding: 15px;
    border-radius: 3px;    
}

button:hover{
    background: rgb(21, 4, 98);
    color:white;
    cursor: pointer;
}

img{
    width: 50px;
    height: 50px;
}
@media screen and (max-width: 768px){
    form{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    button{
        width: 100%;
    }
}


